@{
    Layout = "Admin/_Layout";
    ViewData["Title"] = "Dettaglio Prodotto";
}
@model Pizza
@if(Model == null)
{
    @ViewBag["Message"];
}
<div class="container">
    <div class="d-flex my-5 gap-3 align-items-center justify-content-start">
        <a class="myBtn back" asp-action="Index" asp-controller="Pizza"><i class="fa-solid fa-arrow-left"></i></a>
        <div class="fs-4 fw-bold">Elenco delle pizze</div>
    </div>
    
    <div class="row row-cols-1 row-cols-lg-2 justify-content-center justify-content-lg-between flex-column flex-lg-row">
        <div>
            <img src="@Model.Image" class="img-fluid rounded-3" />
        </div>
        <div class="mt-4 mt-lg-0 d-flex flex-column justify-content-between align-items-center ">
            <h1 class="fw-bold mb-3">@Model.Name</h1>
            <hr class="w-50"/>
            <p class="text-center"><em>@Model.Description</em></p>
            <hr class="w-50"/>
            <div class="fw-bold fs-5">Categoria: </div>
            <div class="fst-italic">@(Model.Category?.Name ?? "Nessuna Categoria")</div>
            <hr class="w-50"/>
            <div class="fw-bold fs-5">Ingredienti</div>
            <ul class="list-unstyled d-flex flex-column align-items-center">
                @foreach(Ingredient ingredient in Model.Ingredients)
                {
                   <li class="fst-italic">@ingredient.Name</li> 
                }
            </ul>
            <hr class="w-50"/>
            <div>@Model.Price €</div>

        </div>
        
    </div>

</div>