@{
    Layout = "Admin/_Layout";
    ViewData["Title"] = "Dashboard Pizzeria";
}

@model List<Pizza>

<div class="content">
    <div class="d-flex justify-content-between align-items-center mb-3 pe-5">
        <h1 class="fw-bold">Benvenuto, @User.Identity.Name</h1>
        @if(User.IsInRole("ADMIN"))
        {
            <a class="myBtn add me-4" asp-action="Create" asp-controller="Pizza"><i class="fa-solid fa-plus"></i></a>
        }
    </div>
    

    @if(Model.Count > 0)
    {
        <div class="container-fluid">
            <ul class="list-unstyled row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 gx-md-3 elenco-pizze pe-5">
                @foreach(Pizza pizza in Model)
                {
                    <li>
                        <div class="myCard">
                            <div class="Id">Pizza numero <span class="numeroId">@pizza.Id</span></div>
                            <div>
                                <img src="@pizza.Image" class="img-fluid mt-3 img-card" />
                            </div>
                            <div class="pizza-name">@pizza.Name</div>
                            <div class="text-center fs-6">@(pizza.Category?.Name ?? "Nessuna Categoria")</div>
                            <ul class="ingredient">
                                @foreach(Ingredient ingredient in pizza.Ingredients)
                                {
                                    <li>@ingredient.Name</li>
                                }
                            </ul>
                            <div class="text-center fs-4 fst-italic mb-5">@pizza.Price €</div>
                            <div class="d-flex justify-content-center align-items-center gap-3" id="btn-container">
                                <a class="myBtn info" href="@Url.Action("Detail", "Pizza", new { id = pizza.Id})"><i class="fa-solid fa-info"></i></a>
                                @if(User.IsInRole("ADMIN"))
                                {
                                    <a class="myBtn edit" href="@Url.Action("Update","Pizza", new{id = pizza.Id})"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <button type="button" class="myBtn delete" data-bs-toggle="modal" data-bs-target="#delete-@(pizza.Id)"><i class="fa-solid fa-trash"></i></button>
                                }
                                
                            </div>
                        </div>
                    </li>

                    <div class="modal fade" id="delete-@(pizza.Id)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Conferma Eliminazione</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Conferma di voler cancellare la pizza n @pizza.Id : @pizza.Name?
                                </div>
                                <div class="modal-footer">
                                    <form asp-action="Delete" asp-controller="Pizza" asp-route-id="@pizza.Id" method="post">
                                        @Html.AntiForgeryToken()
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                                        <button type="submit" class="btn btn-danger">Cancella</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </ul>
        </div>
    }
    else
    {
        <div class="alert alert-danger mt-4 text-center " role="alert">
            Nessuna pizza presente, inserire una nuova pizza attraverso il pulsante con il +!
        </div>
    }
</div>



